@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&display=swap&subset=latin-ext');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import "header.css";


/* *{border:1px solid black;} /* */

body, html{
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
    background: lightgray;  /* fallback for old browsers */
    z-index: 1;
}

.main{
    background-color: whitesmoke;
    margin-top: 50px;
    height: 100%;
    opacity: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullH{
    height:100%;
}

.zauto{
    margin: 0 auto;
}

.allft{
    text-align: left;
}

.alrgt{
    text-align: right;
}

a{
    height: 100%;
    width: 100%;
}