header{
    border-bottom-right-radius: 50px;
    height: 50px;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h2{
    color: whitesmoke;
    line-height: 1.5;
    margin: 0;
}

header .alrgt{
    padding: 5px 0 0 0;
}